<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style type="text/css">
		.login-form {
			width: 340px;
			margin: 50px auto;
		}
		.login-form form {
			margin-bottom: 15px;
			background: #f7f7f7;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			padding: 30px;
		}
		.login-form h2 {
			margin: 0 0 15px;
		}
		.form-control, .btn {
			min-height: 38px;
			border-radius: 2px;
		}
		.btn {		
			font-size: 15px;
			font-weight: bold;
		}
	</style>
	<title>Project {% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar content -->
		<a class="navbar-brand" href="/">5G Paranoia</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/games">Games</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav mr-0">
			{% if "username" in session %}
			<li>
				<a class="nav-link" href="#profile">{{session['username']}}</a>
			</li>
			{% endif %}
			<li class="nav-item">
				{% if "username" in session %}
				<a class="nav-link" href="/logout">Logout</a>
				{% else %}
				<a class="nav-link" href="/login">Login/Register</a>
				{% endif %}
			</li>
		</ul>
		</div>
	</nav>
	<div class="pt-4 container-fluid">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	{% block content %}{% endblock %}
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	{% block js %}{% endblock %}
</body>
</html>